<nav>
  <ul>
    <li><a href="/overview-receipts">BACK TO OVERVIEW</a></li>
    <li><a href="/auth/logout">LOGOUT</a></li>

    <h1>PROFILE DETAILS</h1>

    <ul>
      <li>Email:{{user.email}}</li>
      <br><br>
      <li>Name:{{user.name}}</li>
      <br><br>
      <li>Surname:{{user.surname}}</li>
      <br><br>
      <li>Tax ID:{{user.taxId}}</li>
      <br><br>
      <li>Company Name:{{user.companyName}}</li>
      <br><br>
      <li>Company Address:{{user.companyAdress}}</li>
      <br><br>

    </ul>
    <a href="/profile/edit">EDIT YOUR PROFILE</a>