<div class="profile-container">


  <p>Email: <span style="color:var(--secondary-color)">{{user.email}}</span> </p>

  <p>Name: <span style="color:var(--secondary-color)">{{user.name}}</span></p>

  <p>Surname: <span style="color:var(--secondary-color)">{{user.surname}}</span></p>

  <p>Tax ID: <span style="color:var(--secondary-color)">{{user.taxId}}</span></p>

  <p>Company Name: <span style="color:var(--secondary-color)">{{user.companyName}}</span></p>

  <p>Company Address: <span style="color:var(--secondary-color)">{{user.companyAdress}}</span></p>



  <a class="profile-submitbtn" href="/profile/edit">EDIT YOUR PROFILE</a>
</div>