<div class="details-receipt-container">

  <h3 class="details-receipt-title">{{receiptDetails.title}}</h3>

  <img class="details-receipt-image" src=" {{receiptDetails.image}}" alt="receipt image" style="width:380px;">

  <p>Category: <span style="color:var(--secondary-color)">{{receiptDetails.category}}</span></p>

  <p>Date: <span style="color:var(--secondary-color)">{{receiptDetails.date}}</span></p>

  <p>Amount: <span style="color:var(--secondary-color)">{{receiptDetails.amount}}</span> €</p>

  <p>Comment: <span style="color:var(--secondary-color)">{{receiptDetails.comment}}</span></p>
</div>
{{!-- <a href="/main/{{receiptDetails._id}}/update-receipt">Update receipt</a> --}}