<h2>RECEIPT DETAILS</h2>

<h3>{{receiptDetails.title}}</h3>

<img src="{{receiptDetails.image}}" alt="receipt image">

<p>Category: {{receiptDetails.category}}</p>

<p>Date: {{receiptDetails.date}}</p>

<p>Amount in €: {{receiptDetails.amount}}</p>

<p>Comment: {{receiptDetails.comment}}</p>