{{! FILTER AND SORT}}
<section id="section-filter-sort">

  <form id="form-filter-sort" action="/overview-receipts/search" method="post">

    <div id="filter">
      <select id="category" name="category" value="">
        <option value="">All categories</option>
        <option value="work euipment">Work equipment</option>
        <option value="workspace">Workspace</option>
        <option value="car">Car</option>
        <option value="hardware">Hardware</option>
        <option value="software">Software</option>
        <option value="catering">Catering</option>
        <option value="other">Other</option>
      </select>
      <button type="submit">Filter</button>
    </div>

    <div id="sort">
      <select id="sort" name="sort" value="date">
        <option value="date">Date</option>
        <option value="category">Category</option>
        <option value="amount">Amount</option>
        <option value="title">Title</option>
      </select>
      <select id="direction" name="direction" value="direction">
        <option value="">Ascending</option>
        <option value="-">Descending</option>
      </select>
    </div>

  </form>

</section>


{{#each receipts}}

<div>
  <img src="{{this.image}}" alt="receipt image">
  <h3>{{this.title}}</h3>
  <h4>{{this.category}}</h4>
  <h4>{{this.date}}</h4>
  <a href="/main/{{_id}}">See details</a>
  <a href="/main/{{_id}}/update-receipt">Update receipt</a>
  <a href="/main/{{_id}}/delete-receipt">Delete receipt</a>
</div>

{{/each}}

{{! ADD NEW RECEIPT}}
<a href="/main/new-receipt">Create a new Receipt</a>