<ul>
  <li><a href="/overview-receipt">BACK TO overview-receipt</a></li>
  <li><a href="/auth/logout">LOGOUT</a></li>
</ul>

<h1>EDIT RECEIPT</h1>

<form action="/main/{{receiptDetails._id}}/update-receipt" method="POST">
  <label for="">Title</label>
  <input type="text" name="title" value="{{receiptDetails.title}}">
  <br>
  <label for="">Category</label>
  <input type="text" name="category" value="{{receiptDetails.category}}">
  <p>Possible Categories: work euipment, workspace, car, hardware, software, catering, other</p>
  <br>
  <label for="">Date</label>
  <input type="date" name="date" value="{{receiptDetails.date}}">
  <br>
  <label for="">Amount in €</label>
  <input type="number" name="amount" value="{{receiptDetails.amount}}">
  <br>
  <label for="">Comment</label>
  <input type="text" name="comment" value="{{receiptDetails.comment}}">
  <br>
  <button type="submit">Update your receipt</button>
</form>

<img src="{{receiptDetails.image}}" alt="receipt image">