<div class="details-receipt-container">
  <img src="{{receiptDetails.image}}" alt="receipt image" style="width:380px">

  <form class="update-receipt-form" action="/main/{{receiptDetails._id}}/update-receipt" method="POST">

    <label for="">Title</label>
    <input type="text" name="title" value="{{receiptDetails.title}}">

    <label for="">Category</label>
    <input type="text" name="category" value="{{receiptDetails.category}}">
    {{!-- <p>Possible Categories: Work equipment, Workspace, Car, Hardware, Software, Catering, Other</p> --}}

    <label for="">Date</label>
    <input type="date" name="date" value="{{receiptDetails.date}}">

    <label for="">Amount in €</label>
    <input type="number" name="amount" value="{{receiptDetails.amount}}">

    <label for="">Comment</label>
    <input type="text" name="comment" value="{{receiptDetails.comment}}">

    <button class="profile-submitbtn" type="submit">Update your receipt</button>
  </form>

</div>